@model IEnumerable<WebApplication4.Models.SachViewModel>

@{
    ViewData["Title"] = "Index";
}

<style>

    .snipcart-thumb img {
        width: 85%;
    }
</style>
<div class="pro-du">
    <div class="container">
        <div class="col-md-8 product1">
            <div class=" bottom-product">
                @foreach(var item in Model){
                <div class="col-md-6 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a asp-action="ChiTiet" asp-controller="Sach" asp-route-id="@item.MaSach">
                            <img  class="img-responsive" src="@item.Hinh" alt="">
                            <div class="pro-grid">
                            </div>
                        </a>
                    </div>
                    <p class="tun"><span>@item.TuaSach</span><br>@item.TacGia</p>
                    <div class="clearfix"></div>
                </div>
                }
                <div class="clearfix"> </div>
            </div>


        </div>
        
        <div class="clearfix"></div>
    </div>
</div>
